<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <php>
        <!-- Specify your MPX username and password for testing. -->
        <env name="MPX_USERNAME" value="" />
        <env name="MPX_PASSWORD" value="" />

        <!-- Set to 'true' to log all HTTP requests as curl commands.
             Note this will EXPOSE PASSWORDS AND TOKENS in logs, so
             this should only be enabled on local environments. -->
        <env name="MPX_LOG_CURL" value="false" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/src/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
      <log type="junit" target="build/logs/results.xml"/>
      <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
